<!doctype html>
<html ng-app="uPnPPlayerApp">
    <head>                
        <script type="text/javascript" src="/homey.js" data-origin="settings"></script>
        <link rel="stylesheet" type="text/css" href="bootstrap.css" />
        <script type="text/javascript" src="/manager/webserver/assets/js/angular.js"></script>
        <script type="text/javascript" src="smart-table.min.js"></script>
        <script type="text/javascript" src="UPnPPlayerAppController.js"></script>
    </head>

    <body ng-controller="UPnPPlayerAppController as upnp">        
        <textarea id="debug" type="text" columns="40" rows="5" style="width:100%;display:none;"></textarea>

        <h2>Playlists</h2>
        <p>Be aware that removing playlists could corrupt flows that are using that playlist.</p>
        <div >
            <div class="panel panel-default">
                <div class="panel-heading">Add playlist</div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="playlistName">Playlist name</label>
                            <input class="form-control" id="playlistName" type="text" ng-model="upnp.newPlaylist.name" placeholder="Name"><span class="error">{{upnp.messages}}</span>
                        </div>                    
                        
                        <div class="form-group">
                            <button class="btn btn-default" type="button" ng-disabled="!upnp.newPlaylist.name" ng-click="upnp.addPlaylist()">Add playlist</button>                        
                            <button class="btn btn-default" type="button" ng-click="upnp.deleteAll()">Delete All</button>
                        </div>
                    </form>
                </div>
            </div>
            
            <table st-safe-src="upnp.playlists" st-table="displayedCollection" class="table table-striped">
                <thead>
                    <tr>
                        <th st-sort="name">Name</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>
                            <input st-search="name" placeholder="search for name" class="input-sm form-control" type="search" />
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="playlist in displayedCollection" >
                        <td>{{playlist.name}}</td>
                        <td><button ng-click="upnp.removePlaylist(playlist)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script type="text/javascript">        
            //var debug = document.getElementById('debug');
            function l(s)  {
                document.getElementById('debug').value+='\r\n' + (s!==undefined ? s.toString() : 'undefined');
            }

            function onHomeyReady(Homey) {
                Homey.ready();
                var element = document.getElementById('playlistName');
                var scope = angular.element(element).scope();
                scope.$apply(function() {
                    scope.upnp.setHomey(Homey, scope, l);
                });
            }
        </script>
</body>
</html>